body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
    color: #E5E7EB;
}

.Header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background: #1F2937;
    margin: 10px;
    padding: 10px 130px;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
}

.Headertop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.HeaderLogo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    margin: 0px;
    padding: 0px;
}

ul {
    font-size: 18px;
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

.hbleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    width: 400px;
    flex-shrink: 0;
}
.hbright{
    width: 300px;
    height: 200px;
   
}
.hbright img {
    max-width: 100%;  
    max-height: 200px;  
    object-fit: cover; 
    border-radius: 10px;
}


.Title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    margin-bottom: 5px;
}

.subtitle{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-bottom: 5px;
}

button {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    width: 70px;
    border-radius: 10px;
}

.Headerbody {
    display: flex;
    justify-content: space-between;
}

.content {
       display: flex;
    justify-content: space-between;
    gap: 50px;
}

.body1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    margin-bottom: 100px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.text {
    color: gray;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info {
    max-width: 200px;
}

.info img {
    border:3px solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.quote-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E7EB;
    font-size: 36px;
    font: "light italic";
    color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 100px 350px;
    flex-wrap: wrap;
}

.quote {
    display: flex;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 700;
}

.call-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    margin: 100px 250px;
    padding: 50px 100px;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
}

.text .call-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.text .sub-text {
    font-size: 16px;
    color: #E5E7EB;
}

.sign-up2 {
    color: white;
    font-size: 14px;
    align-items: center;
    width: 125px;
    border: 2px solid white;
    border-radius: 7px;
    
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}