body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left:100px;
 transition-property: all;
transition-duration: 2s; 
/* transition-timing-function: ease-in;
transition-delay: 1s;} */ */

}
div:hover{
    background-color: brown;
    font-size: 20px;
    transform: scale(0,1);
    transform: rotate(180deg);
}
div:active{
    background-color: pink;
}
@media(max-width:300px){
    div{
        background-color:green;
    }
}
@media(min-width: 300px) and (max-width: 400px){
    div{
        background-color: pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    div{
        background-color: red;
    }
}
#container{
    height: 1000px;
    width:200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap;
    align-content: center; */

}
#box1{
    background-color:brown ;
    flex-grow: 4;
}
#box2{
    background-color:bisque ;
    height: 100px;
    flex-grow: 2;
}
#box3{
    background-color: red;
}
#box4{
    background-color:yellow ;
}
#box5{
    background-color:blue ;
}
#box6{
    background-color: pink;
}
#container{
    width: 800px;
    height: 200px;
}